root = true

[*]
charset = utf-8

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none
